go 1.25

use (
	./backend/pkg
	./backend/services/admin
	./backend/services/geospatial
	./backend/services/identity
	./backend/services/issues
	./backend/services/ledger
	./backend/services/messaging
	./backend/services/notifications
	./backend/services/party
	./backend/services/polls
	./backend/services/rating
	./backend/services/registry
	./backend/services/reputation
	./backend/services/search
	./backend/services/voices
)
